body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}


/* Ensure the video fills the entire viewport */
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -100;
    background-size: cover;
}

/* Center align content */
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(206, 110, 47); 
    z-index: 1; 
}

.content h1 {
    font-size: 3rem; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.content .paraCompany {
    font-size: 1.5rem; 
}